PORT=3000
DATABASE_URL=database.db
ADMIN_API_KEY=your_admin_api_key_here
SPORTS_API_KEY=your_sports_api_key_here
NEWS_API_KEY=your_news_api_key_here
FIFA_LEAGUE_ID=1
FIFA_SEASON=2026
OWNER_JID=your_number@s.whatsapp.net
WHATSAPP_GROUP_JID=group_id@g.us
